/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #000028;
  --bg-img: url(../images/cover-image-dark.png);
  --header__title-color: #DB00FF;
  --section__title-color: #FF0070;
  --section__subtitle-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --button-hover: rgba(255, 0, 112, 0.40);
  --text-shadow: 2.5px 2px 0 var(--accent-color);
}
