/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --bg-color: #FFF1F7;
  --bg-img: url(../images/cover-image-light.png);
  --header__title-color: #FFC2E6;
  --section__title-color: #353430;
  --section__subtitle-color: #353430;
  --accent-color: #FF8DCB;
  --text-color: #353430;
  --button-hover: rgba(50, 49, 45, 0.40);

}

.page.theme_light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {

  :root {
    --bg-color: #FFF1F7;
    --bg-img: url(../images/cover-image-light.png);
    --header__title-color: #FFC2E6;
    --section__title-color: #353430;
    --section__subtitle-color: #353430;
    --accent-color: #FF8DCB;
    --text-color: #353430;
    --button-hover: rgba(50, 49, 45, 0.40);
    }

  .page.theme_auto .header__rec {
    display: none;
  }

}