/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  font-family: var(--main-font);
  font-size: var(--font-size);
  font-weight: var(--weight-normal);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--bg-img);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__rec {
  position: absolute;
  color: var(--accent-color);
  line-height: 1.563rem;
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(2.375rem, 1.7786rem + 2.5445vw, 3rem);
}

.header__rec::after {
  content: '';
  position: absolute;
  margin-block-start: 9px;
  margin-inline-start: 9px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background: var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  align-items: center;
  block-size: 100vh;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.header.decorated-zone::before {
  inset-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  border-block-start: 1px solid var(--section__title-color);
  border-inline-end: 1px solid var(--section__title-color);
  justify-self: end;
  align-self: start;
}

.header.decorated-zone::after {
  inset-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  inset-inline-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  border-block-end: 1px solid var(--section__title-color);
  border-inline-start: 1px solid var(--section__title-color);
  align-self: end;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--section__title-color);
  font-family: var(--main-font);
  font-weight: var(--weight-normal);
  font-size: var(--font-size);
  line-height: var(--font-size);
  text-transform: lowercase;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 3px 13px;
  cursor: pointer;
  appearance: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--section__title-color);
  -webkit-border-after: 1px solid var(--section__title-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--section__title-color);
  pointer-events: none;
}

.header__title {
  color: var(--header__title-color);
  font-size: var(--title-font-size-s);
  font-weight: var(--weight-bold);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
  position: relative;
}

.header__description {
  font-weight: var(--weight-bold);
  max-width: max(355px, 50%);
  justify-self: end;
}

.title-decor {
  color: var(--section__subtitle-color);
  background-color: var(--accent-color);
}

.main {
  display: grid;
  gap: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem) 0;
}

.section__two-columns {
  display: grid;
}

.section__three-columns {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: var(--font-size);
  color: var(--section__title-color);
  font-weight: var(--weight-bold);
  margin-block-end: 20px;
}

.section__subtitle {
  font-size: var(--font-size);
  font-weight: var(--weight-bold);
  margin-block-end: 10px;
}

.section__subtitle--no_highlight {
  font-weight: var(--weight-normal);
}

.section__subtitle + .section__subtitle {
  margin-top: 20px;
}

.section__text {
  color: var(--text-color);
}

.section__text:not(:last-child) {
  margin-block-end: 20px;
}

.text__link {
  text-shadow: var(--text-shadow);
  text-decoration: none;
}

.text__link:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--text-color);
}

.text__link:focus {
  outline: none;
}

.text__link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section__gallery {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  margin-block-start: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.section__image {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.footer {
  display: grid;
  block-size: 100vh;
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.footer.decorated-zone::before {
  position: relative;
  border-block-start: 1px solid var(--section__title-color);
  border-inline-end: 1px solid var(--section__title-color);
  justify-self: end;
  align-self: start;
}

.footer.decorated-zone::after {
  position: relative;
  border-block-end: 1px solid var(--section__title-color);
  border-inline-start: 1px solid var(--section__title-color);
  justify-self: start;
  align-self: end;
}


.footer__title {
  color: var(--header__title-color);
  font-size: var(--title-font-size-s);
  font-weight: var(--weight-bold);
  line-height: 82.5%;
  text-shadow: 2px 2px 0px #FF0070;
  text-align: center;
  align-self: center;
}

@media (width >= 768px) {

  .header__title,
  .footer__title {
    font-size: var(--title-font-size-m);
  }

  .header__title {
    left: -1.25rem;
  }

  .section__two-columns {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section:nth-child(2) > .section__title {
    width: 30%;
  }

  .section__gallery {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__image:nth-child(1) {
    grid-column: span 2;
  }

  .section__image:nth-child(2) {
    grid-row: span 2;
  }

  .section__image:nth-child(3) {
    grid-row: span 2;
  }

  .section__image:nth-child(5) {
    grid-column: span 2;
  }

}

@media (width >= 1024px) {

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }
  .header__theme-menu-list {
    flex-direction: row;
  }

  .section__two-columns {
    gap: 10px;
  }

  .section__three-columns {
    grid-template-columns: repeat(auto-fit, minmax(314px, 1fr));
  }

}